.blur-dot {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    filter: blur(5px);
    transform: translate(-50%, -50%);
}

.animated-circle {
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    right: 12px;
   
}

.animated-card {
    width: 10px;
    height: 250px;
    position:absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 0px;
    color: #7c7fec;
    background-color: #6980cc;
    
}
.selected-item {
    background-color: black;
    color: white; /* You can adjust the text color to ensure readability */
}
/*:root {
    --rz-selectbar-selected-background-color: --rz-primary-lighter;
}*/