@page "/blurdot"

@using System.Drawing;
@using Microsoft.AspNetCore.Components.Web;


<style>
    .rectangle {
        width: 300px;
        height: 600px;
        border: 1px solid black;
        position: relative;
    }

    .blur-dot {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        filter: blur(10px); /* Apply blur effect */
        transform: translate(-50%, -50%); /* Center the dot on the click point */
    }
</style>

<div class="rectangle" @onclick="AddBlurDot">
    @if (showDot)
    {
        <div class="blur-dot" style="left: @dotXpx; top: @dotYpx;"></div>
    }
</div>

@code {
    bool showDot = false;
    int dotX = 0;
    int dotY = 0;
    string dotXpx => $"{dotX}px";
    string dotYpx => $"{dotY}px";

    void AddBlurDot(MouseEventArgs e)
    {
        dotX = (int)e.ClientX;
        dotY = (int)e.ClientY;
        showDot = true;
    }
}


